<li>
    {{#unless digested}} 
        
        <button class="change-chew btn btn-danger" data-id="{{id}}" data-newchew="{{chew}}">
            {{#if chew}}{{this.name}}{{/if}}  
            {{!-- {{this.id}} --}}
            chew the {{this.thing_name}}  
        </button>   
    {{/unless}} 

    {{#if digested}}
    <button class="delete-thing btn btn-danger" data-id="{{this.id}}">
        {{!-- {{this.id}} --}}
        swallow the {{this.thing_name}}
    </button>
    {{/if}}
</li>